<div id="wrap">
  <div id="header">
    <h1>Modern Times</h1>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="#">News</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Sign in</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div id="content_area">
    <div id="content">
      <h2>Dear Corprate Overlords, We're Tired of Subscriptions</h2>
      <p>Memberships, subscription services, software as a service, premium plan, VIP access, and my favorite,
        the ‘battle pass’. A monthly or annual fee to gain access to a service that usually includes
        multiple tiers. Which technically gets access to the same content. Streaming services somewhat new
        to this like Peacock, and now Disney+, go out of their way with an aggressive approach to paid
        advertisement on the lower-tiered plans. Breaking emersion during movies and shows. Netflix was one
        of the first and only to provide monthly media streaming for a fee. The main selling point for the
        service originally was that it had on-demand content with no commercial break while maintaining a
        competitive price compared to traditional cable TV. But with the forever rotating libraries and new
        streaming services popping up every year, watching every available show would easily cost over 150$,
        surpassing cable TV. So why did we switch again?
        These devious tactics take a different yet similar form in the video game industry. Seasonal content
        and the subscription model have plagued the industry due to the popularity of games like Fortnite,
        and Apex Legends. Followed by Xbox, Sony, EA, and other companies creating on-demand gaming
        libraries for a monthly fee. This changed the way games were delivered to players. The most popular
        is a “Netflix” like a library of games, called Xbox Game Pass. This boasts over 200+ playable titles
        dating back to the Nintendo 64, all for one annual fee. Because of the on-demand availability of
        these games (and the COVID-19 pandemic), gaming companies no longer care about physical disk sales.
        The effects of this were mainly felt by companies that sell physical media like GameStop and (Best
        Buy stopped selling physical media in 2024. This included both DVDs and Blu-ray discs, in both their
        stores and online.) BestBuy. But this surge in subscription models devastated the market for
        physical games, leaving companies like GameStop to go out of business.

      </p>
    </div>
    <div id="sidebar">
      <div class="block">
        <img src="Streaming_Icons-min.png" alt="" height="100%" width="50%">
      </div>
    </div> <br>
    <p>Some may argue that the annual form of payment for services diversifies the options available to people,
      while also bringing some form of content to a bigger pool of users. It also provides flexibility for the
      consumer; they can cancel the plan anytime. As opposed to traditional cable TV plans, which typically
      have one- or two-year contracts. From a business standpoint, this could be very beneficial, but, as a
      consumer, it brings limitations and makes things more expensive overall when there are multiple services
      and multiple tiers to choose from. And now you’re being charged monthly, instead of the flat fee for one
      or two years.
      The sum of all these points becomes clear, fatigue is evident in our wallets. To watch most of the new
      movies and TV shows it'll cost you nearly 150$ to view everything ad-free. Some of the most expensive
      cable plans were 100$ and those got you everything including on-demand movies and shows without
      commercials. The physical era of video games has officially died. Trade in value for physical media has
      plummeted. Waiting for the midnight release of a game is a thing of the past. No longer will people be
      camping out for the next call of duty. And no longer will we be able to trade in that pile of games you
      beat to buy a new one. The subscription model has truly hurt us in more ways than it benefits society.

    </p>
  </div>
  <div id="footer">
    <button onclick="scrollToTop()" class="button">
      <svg viewBox="0 0 384 512" class="svgIcon">
        <path
          d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z">
        </path>
      </svg>
    </button>

  </div>
  <div class="sources">
    <h4>S O U R C E S</h4>
    <ul>
      <li>Here you can find a list of current streaming service prices,
        <a href="https://uproxx.com/tv/list-of-streaming-services-and-prices-2023/" rel="noopener noreferrer"
          target="_blank" title="Prices">On Uproxx.com</a>
      </li>

      <li>
        Published by Anton Shilov published October 14, 2023
        <a href="https://www.tomshardware.com/news/best-buy-quits-physical-media-business-no-more-blu-rays-at-best-buy"
          target="_blank" rel="noopener noreferrer" title="media">Best Buy Quits Physical Media Business: No More
          Blu-rays, DVDs</a>
      </li>
    </ul>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />